<mat-toolbar class="Title-toolbar" color="link">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="listar()">Listar</button>
    <button mat-menu-item (click)="novo()">Novo</button>
  </mat-menu>
  <span class="fill-remaining-space"></span>
  <span>{{ titleCapitalized() }}</span>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="voltar()">
    <mat-icon>keyboard_arrow_left</mat-icon>
    voltar
  </button>
</mat-toolbar>
