<mat-toolbar color="primary">
  Menu
</mat-toolbar>
<mat-nav-list>
  <a mat-list-item (click)="onClose()" routerLink="professores/lista" *ngIf="!isAuth">
    <mat-icon></mat-icon>
    <span class="nav-caption">Professores</span>
  </a>
  <a mat-list-item (click)="onClose()" routerLink="alunos/lista" *ngIf="!isAuth">
    <mat-icon></mat-icon>
    <span class="nav-caption">Alunos</span>
  </a>
  <a mat-list-item (click)="onClose()" routerLink="disciplinas/lista" *ngIf="!isAuth">
    <mat-icon></mat-icon>
    <span class="nav-caption">Disciplinas</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
