.listagem {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-card-content {
  padding: 0px 10px 10px 10px;

  .mat-form-field {
    font-size: 14px;
    margin: 10px 30px 0px 5px;
    width: 98%;
  }
}
