<mat-card>
  <form class="normal-form">
  <mat-card-header>
    <mat-card-title>Detalhe Disciplina</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  </mat-card-content>
  <mat-card-actions style="border-top:1px solid #e5e5e5; display: flex; justify-content: space-between; margin: 0px;">
    <div>
      <button mat-raised-button color="basic">Voltar</button>
    </div>
    <div>
      <button mat-raised-button (click)="registrarDisciplina()" color="primary" type="submit">Salvar</button>
      <button mat-raised-button (click)="limparDisciplina()" color="warn">Limpar</button>
    </div>
  </mat-card-actions>
</form>
</mat-card>
